/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main';

html, body {
  overflow-y: auto!important;
  padding: 0!important;
  margin: 0!important;
}

.ui-logo {
  height: 56px;
}

.ui-process-percent {
  display: block;
  margin-top: 12px;
}

td, th{
  white-space: nowrap;
}

.router-link-exact-active {
  color: #1976d2!important;
  background: rgba(0,0,0,0.22);
}
